
.container {
  padding-left: 50px !important;
  padding-right: 50px !important;
  max-width: none;
  width:100%;
}
.code {
  height: 220px;
  width: 100%;
  border: 1px solid #ccc;
  font: 16px/26px Georgia, Garamond, Serif;
  overflow: auto;
  line-height: 18px;
}
.file{
  float:left;
  margin:0;
  width: 50%;
}
