
.container {
  padding-left: 50px !important;
  padding-right: 50px !important;
  max-width: none;
  width:100%;
}
.prettyprint, .code {
  height: 320px;
  width: 100%;
}
.file{
  float:left;
  margin:0;
  width: 50%;
}
footer {
  clear:both;
  height:100px;
}
