{% load autocode_tags %}from django.contrib import admin
from django import forms
from .models import {{ models|list_models }}

{% for model in models %}
# --------------- {{ model|get_name }} Admin ---------------
class {{ model|get_name }}AdminForm(forms.ModelForm):

    class Meta:
        model = {{ model|get_name }}
        fields = {{ model|list_field_names:True }}


class {{ model|get_name }}Admin(admin.ModelAdmin):
    form = {{ model|get_name }}AdminForm
    list_display = {{ model|list_field_names:True }}
    readonly_fields = ['pk']

admin.site.register({{ model|get_name }}, {{ model|get_name }}Admin)
{% endfor %}
