{% load autocode_tags %}import json
import graphene
from graphene import ClientIDMutation, InputObjectType
from core.django.graphql.mutation import UpdateMutationMixin, CreateMutationMixin, DeleteMutationMixin
from ..models import {{ models|list_models }}
from .query import {% for model in models %}{{ model|get_name }}Node{% if not forloop.last %}, {% endif %}{% endfor %}

{% for model in models %}
# ========================================================================================= {{ model|get_name }}

class {{ model|get_name }}CreateInput(InputObjectType):{% for field in model|get_fields_no_pk %}
    {{ field|get_field_name }} = graphene.{{ field|get_graphql_type }}(required={{ field|is_required }}){% endfor %}

class {{ model|get_name }}UpdateInput({{ model|get_name }}CreateInput):
    pass

class Create{{ model|get_name }}Mutation(CreateMutationMixin, ClientIDMutation):
    model = {{ model|get_name }}
    {{ model|get_name|snakecase }} = graphene.Field({{ model|get_name }}Node)

    class Input:
        {{ model|get_name|snakecase }} = graphene.Argument({{ model|get_name }}CreateInput, required=True)


class Update{{ model|get_name }}Mutation(UpdateMutationMixin, ClientIDMutation):
    model = {{ model|get_name }}
    {{ model|get_name|snakecase }} = graphene.Field({{ model|get_name }}Node)

    class Input:
        id = graphene.ID(required=True)
        {{ model|get_name|snakecase }} = graphene.Argument({{ model|get_name }}UpdateInput, required=True)


class Delete{{ model|get_name }}Mutation(DeleteMutationMixin, ClientIDMutation):
    model = {{ model|get_name }}

    class Input:
        id = graphene.ID(required=True)

{% endfor %}
