{% load autocode_tags %}import graphene
from graphene import Node
from graphene_django.filter import DjangoFilterConnectionField
from .mutation import {% for model in models %}Create{{ model|get_name }}Mutation, Update{{ model|get_name }}Mutation, Delete{{ model|get_name }}Mutation{% if not forloop.last %}, {% endif %}{% endfor %}
from .query import {% for model in models %}{{ model|get_name }}Node{% if not forloop.last %}, {% endif %}{% endfor %}


class Mutation(graphene.ObjectType):{% for model in models %}
    create_{{ model|get_name|lower }} = Create{{ model|get_name }}Mutation.Field()
    update_{{ model|get_name|lower }} = Update{{ model|get_name }}Mutation.Field()
    delete_{{ model|get_name|lower }} = Delete{{ model|get_name }}Mutation.Field()
{% endfor %}

class Query(graphene.ObjectType):{% for model in models %}
    {{ model|get_name|lower }} = Node.Field({{ model|get_name }}Node)
    all_{{ model|get_name|lower }} = DjangoFilterConnectionField({{ model|get_name }}Node)
{% endfor %}
