{% load autocode_tags %}import graphene
import django_filters

from graphene import Node
from graphene_django import DjangoObjectType
from ..models import {{ models|list_models }}

{% for model in models %}
# ========================================================================================= {{ model|get_name }}
class {{ model|get_name }}Filter(django_filters.FilterSet):
    class Meta:
        model = {{ model|get_name }}
        fields = {{ model|list_field_names_no_pk }}


class {{ model|get_name }}Node(DjangoObjectType):
    class Meta:
        model = {{ model|get_name }}
        convert_choices_to_enum = True
        interfaces = (Node,)
        filterset_class = {{ model|get_name }}Filter

{% endfor %}
