{% load autocode_tags %}from django.urls import path, include
from rest_framework import routers

from . import views
from .api import api_views

router = routers.DefaultRouter()
{% for model in models %}
router.register(r'{{ model|get_name|snakecase }}', api_views.{{ model|get_name }}ViewSet){% endfor %}


urlpatterns = (
    # urls for Django Rest Framework API
    path('api/v1/', include(router.urls)),
)

{% for model in models %}
urlpatterns += (
    # urls for {{ model|get_name }}
    path('{{ app_name }}/{{ model|get_name|snakecase }}/', views.{{ model|get_name }}ListView.as_view(), name='{{ app_name }}_{{ model|get_name|snakecase }}_list'),
    path('{{ app_name }}/{{ model|get_name|snakecase }}/create/', views.{{ model|get_name }}CreateView.as_view(), name='{{ app_name }}_{{ model|get_name|snakecase }}_create'),
    path('{{ app_name }}/{{ model|get_name|snakecase }}/detail/&lt;slug:slug&gt;/', views.{{ model|get_name }}DetailView.as_view(), name='{{ app_name }}_{{ model|get_name|snakecase }}_detail'),
    path('{{ app_name }}/{{ model|get_name|snakecase }}/update/&lt;slug:slug&gt;/', views.{{ model|get_name }}UpdateView.as_view(), name='{{ app_name }}_{{ model|get_name|snakecase }}_update'),
)
{% endfor %}
