{% load autocode_tags %}
<div class="file">
<h5><label for="views.py">views.py</label></h5>

<pre class="prettyprint lang-py code" id="views.py">
from django.views.generic import DetailView, ListView, UpdateView, CreateView
from django.contrib.auth.mixins import LoginRequiredMixin
from .models import {{ models|list_models }}
from .forms import {{ models|list_models:'Form' }}
{% for model in models %}
class {{ model|get_name }}ListView(LoginRequiredMixin, ListView):
    model = {{ model|get_name }}
    template_name_suffix = '_list'

class {{ model|get_name }}CreateView(LoginRequiredMixin, CreateView):
    model = {{ model|get_name }}
    form_class = {{ model|get_name }}Form
    template_name_suffix = '_form'


class {{ model|get_name }}UpdateView(LoginRequiredMixin, UpdateView):
    model = {{ model|get_name }}
    form_class = {{ model|get_name }}Form
    template_name_suffix = '_form'


class {{ model|get_name }}DetailView(LoginRequiredMixin, DetailView):
    model = {{ model|get_name }}
{% endfor %}
</pre>
</div>
