{% extends 'autocode/base.html' %}
{% load static %}


{% block content %}
  <div class="m-t-2">
    <ul>
      {% for model_name in models_name %}
        <li>
          <a
            href="{% url 'autocode:autocode-model' app_name=app_name model_name=model_name %}">{{ model_name }}</a><br/>
        </li>
      {% endfor %}
    </ul>

    {% include 'autocode/code/forms.html' %}

    {% include 'autocode/code/views.html' %}

    {% include 'autocode/code/urls.html' %}

    {% include 'autocode/code/admin.html' %}

    <h3 id="api_view_title" class="clear">API Views</h3>

    {% include 'autocode/code/serializers.html' %}

    {% include 'autocode/code/api_views.html' %}

    <h3 id="templates" class="clear">Templates</h3>

    {% for model in models %}
      {% include 'autocode/code/template_form.html' with model=model %}
    {% endfor %}

  </div>
{% endblock content %}
