{% extends 'autocode/base.html' %}
{% load static %}


{% block content %}
  <div class="m-t-2">
    <ul>
      {% for model_name in models_name %}
        <li>
          <a
            href="{% url 'autocode:autocode-model' app_name=app_name model_name=model_name %}">{{ model_name }}</a><br/>
        </li>
      {% endfor %}
    </ul>

    {% include 'autocode/code/forms.html' %}

    {% include 'autocode/code/views.html' %}

    {% include 'autocode/code/urls.html' %}

    {% include 'autocode/code/admin.html' %}

  </div>
{% endblock content %}
