{% extends 'autocode/base.html' %}
{% load static %}


{% block content %}

  {% include 'autocode/code/forms.html' %}

  {% include 'autocode/code/views.html' %}

  {% include 'autocode/code/urls.html' %}

  {% include 'autocode/code/admin.html' %}

  <h3 class="clear">API Views</h3>

  {% include 'autocode/code/serializers.html' %}

  {% include 'autocode/code/api_views.html' %}

  <h3 class="clear">Templates</h3>

  {% for model in models %}
    {% include 'autocode/code/template_form.html' with model=model %}
  {% endfor %}

{% endblock content %}
