{% extends 'autocode/base.html' %}
{% load static %}


{% block content %}
  {{ fields_labels|first|join:", " }}
  <br/>
  {{ fields_labels|last|join:", " }}
  <br/>
  <br/>


  {% include 'autocode/code/forms.html' %}

  {% include 'autocode/code/views.html' %}

  {% include 'autocode/code/urls.html' %}

  {% include 'autocode/code/admin.html' %}

  {% include 'autocode/code/serializers.html' %}

  {% include 'autocode/code/api_views.html' %}

  <h3 class="clear">Templates</h3>

{% endblock content %}
